
.search-input-wrap-bg{
    width: 100%;
    padding: 15px;
    background: #f4f4f4;
}
.search-input-wrap{
    width: 100%;
    height: 2.67rem;
    max-height: 50px;
    background: #fff;
    border: 1px solid #222;
}
.search-input-wrap input{
    float: left;
    display: block;
    width: 88%;
    height: 100%;
    font-size: 0.8rem;
}
.search-input-wrap.lg input{
    font-size: 14px;
}
.search-input-wrap:before{
    float: left;
    display: block;
    content: '';
    width: 12%;
    height: 100%;
    background: url("/static/images/icon/search.png") no-repeat center;
    background-size: 1rem 1rem;
}
.ev-onekey-rentail-wrap{
    width: 100%;
    padding: 15px;
    text-align: center;
}
.ev-onekey-rentail-wrap h2{
    font-family:PingFangSC-Medium;
    font-size:1.25rem;
    margin-top: 5px;
}
.ev-onekey-rentail-wrap p{
    font-size: 0.8rem;
}
.ev-onekey-rentail-wrap .btn-onekey{
    width: 100%;
    height: 2.67rem;
    line-height: 2.68rem;
    border-radius: 5px;
    background:#f7c73f;
    font-size: 1.07rem;
    margin-top: 15px;
}
.tel-wrap{
    width: 100%;
    background: #f4f4f4;
    padding: 20px 0;
}
.event-tel{
    display: block;
    text-align: center;
    width: 285px;
    height: 24px;
    line-height: 24px;
    margin: 0 auto;
    color: #666;
    font-size: 18px;
}
.event-tel .tel{
    display: inline-block;
    background: url("/static/images/icon/tel_01.png") no-repeat center;
    background-size: 100% auto;
    width: 22px;
    height: 22px;
}
.hvfixed{padding-bottom: 90px;}
.onekey-rentail-wrap.fixed{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: #fff;
}
.onekey-rentail-wrap.fixed .btn-onekey{margin-top: 0;}


@media screen and (min-width: 320px) and (max-width: 360px){
    .search-input-wrap.lg input{
        font-size: 12px;
    }
}