.askprice {
    width: 100%;
    height: auto;

}

.ml {
    margin-left: 10px;
}

.ifrom {
    height: auto;
    background: #ffffff;
    margin-top: 21px;
}

 input {
    width: 100%;
    margin-bottom: 10px;
    
}

.base--detail {
    margin: 0 15px;
}


.base-info {
    width: 100%;
    height: 0.8rem;
    text-align: center;
    background: #ffffff;
}

.triangle {
    width: 100%;
    height: 35px;

}

.triangle-right {
    height: 25px;
    position: absolute;
    right: 30px;
}

.base-info-name {

    font-size: 0.9rem;
    color: #000000;
    line-height: 0.7rem;
    text-align: left;
    padding-bottom: 10px;
}

.input-box {
    padding: 20px 0 0;
    border-bottom: 2px solid #222222;
}

.last-input-box {
    border: none;
}
.send-msg1{
    width: 70%!important;
   
}
.input-box .advise {
    position: relative;
}

.check-box {
    width: 100%;
    height: 35px;
}


.input-box .send-msg {
    width: 27%;
    height: 30px;
    font-weight:bold;
    background: #222222;
    padding-bottom: 5px;
    text-align: center;
    line-height: 30px;
    font-size: .7rem;
    color: #ffffff;

}



.submit {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    background: #f7c73f;
    font-size: .8rem;
    color: #000000;
    text-align: center;
    line-height: 40px;

}
/*select{
     color: #999999;
}*/

.input-box textarea {
    width: 100%;
    height: 62px;
    resize: none;
    font-size: .8rem;
    padding:10px;
}

.input-box .font120 {
    width: 50px;
    height: 14px;
    font-size: .7rem;
    color: #999999;
    line-height: .7rem;
    text-align: left;
    position: absolute;
    right: 0;
    top: 45px;
}

.base-info-name span {
    color: red;
    font-size: 20px;
    display: block;
    float: left;
    line-height: 20px;
}

.onekey-rentail-wrap {
    padding-bottom: 24px;
}

.btn-onekey {
    width:100%;
    height: 2.67rem;
    line-height: 2.68rem;
    background: #f7c73f;
    font-size: 1.07rem;
    margin-top: 15px;
    text-align: center;
}
input[type='checkbox'] {
  /*display: none;*/
}
label {
  display: inline-block;
  /*width: 15px;*/
  /*height: 15px;*/
  /*position: relative;*/
  /*background: url('www.chitanda.me/images/blank.png');*/
  -webkit-transition: background 0.5s linear;
}

.red::-webkit-input-placeholder {
    color: red;
}

/*内部标题*/
.base--detail .op-title{
    font-size: 1.07rem;
    margin-top: 20px;
}
.base--detail .op-title span{
    font-size: 0.8rem;
    color:#999;
}
/*尺寸*/
.input-box .size input{width: auto;}
.input-box .size{
    border-bottom: 2px solid #222;
    padding: 15px 0 5px;
}
.input-box .size.first{
    padding-top: 0;
}
.input-box .size:last-child{
    border: none;
}
/*标签*/
.input-box .tags span{
    float: left;
    display: block;
    width: 25%;
    padding: 10px 5px;
    text-align: center;
    background: #f4f4f4;
    color: #999;
    font-size: 0.7rem;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-right: 1px solid #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.input-box .tags.area span{
    width: 33.33%;
}
.input-box .tags span.active{
    background:#f7c73f;
    color: #000;
}




    
