
/***列表样式***/

/*标题*/
.list-title{
    width: 100%;
    padding: 8px 15px;
    margin-top: 10px;
}
.list-title h2{
    font-size: 1rem;
}
.list-title .more{
    font-size: 0.9rem;
    padding-right: 15px;
    position: relative;
}
.list-title .more .icon{
    border-color: #000;
    position: absolute;
    right: 0;
    top: 7px;
    width: 9px;
    height: 9px;
}

.space-list img{
    width: 100%;
}
.space-list{

}