/*轮播*/
.selectedtopic-cont{overflow: hidden;}
.swiper-container{
    width: 100%;
    height: auto;
    overflow: visible;
    position: relative;
}
.swiper-container .swiper-slide{
    background-color: #fff;
    /*height: 350px;*/
    margin-right: 1px;
    position: relative;
}
.swiper-container .swiper-slide a{
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-container .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    background: #aaa;
}
.swiper-container .swiper-slide p{
    position: absolute;
    bottom: 0;
    z-index: 2;
    font-size:18px;
    color:#ffffff;
    margin: 10px 15px;
    height: 46px;
    line-height: 1.35em;
    box-sizing: border-box;
    overflow: hidden;

    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
}
.swiper-container .swiper-slide:hover p{
    bottom: 5px;
}


/*头部*/
.logo img{
    display: inline-block;
    height: 30px;
    margin-top: 10px;
}
header .citys{
    width: 60px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    position: relative;
}
header .citys i{
    position: absolute;
    right: 2px;
    top: 6px;
    width: 9px;
    height: 9px;
}
header .logreg{
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}

/*banner*/
.banner{
    width: 100%;
    position: relative;
}
.banner>img{
    width: 100%;
}
.banner .text{
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 30px;
    color: #fff;
    text-shadow:1px 2px 0 rgba(0,0,0,0.5);
}
.banner .text h2{
    font-family:PingFangSC-Medium;
    font-size: 1.2rem;
}






.place-recommend img{width: 100%;}



@media screen and (min-width: 320px) {
    html {font-size: 16px;}


}

@media screen and (min-width: 360px) {
    html {font-size: 18px;}
}

@media screen and (min-width: 640px) {
    html {font-size: 30px;}
}










