body,header,section,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,label,p,blockquote,table,th,td,a{ margin:0; padding:0;box-sizing: border-box;font-family: "PingFangSC-Regular", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif}
body { background:#f2f2f2; color:#000; font-size:14px;position: relative;width: 100%;height: 100%; font-family: "PingFangHK-Thin", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif!important;}
body{max-width: 768px;margin: 0 auto;background: #fff;}
table { border-collapse:collapse; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var {
    font-style:normal; font-weight:normal;
}
ol,ul,li { list-style:none; }
input, textarea, select, button { font-size:14px; outline: none;border: none;display: inline-block;font-family: "PingFangHK-Thin", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif!important;}
a{ color:#000; text-decoration:none;display: block;}
a,button{
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;

    outline: none;
    cursor: pointer;
}
a:hover,a:active,a:focus{
    text-decoration: none;
    outline: none;
    color:#000;
}
input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], button { -webkit-appearance: none; /*去掉苹果的默认UI来渲染按钮*/}
input,button,select,textarea{outline:none;border:none;}
textarea{resize:none}
img{border:none;}
.img>img{
    width: 100%;
    height: 100%;
}
.logo img{background: none;}

.fl{float: left;}
.fr{float: right;}

.clearfix:after {content: " "; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

/*input框默认字体颜色*/
input::-webkit-input-placeholder { color:#999;}
input::-moz-placeholder { color:#999;} /* firefox 19+ */
input:-ms-input-placeholder { color:#999;} /* ie */
input:-moz-placeholder { color:#999;}

select{
    width: 100%;
    border: none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
}

/*文字上下居中*/
.display-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.icon-arrowleft{/*箭头向左*/
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    /*需要自定义width、height、border-color*/
}
.icon-arrowright{/*箭头向右*/
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}
.icon-arrowtop{/*箭头向上*/
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.icon-arrowbottom{/*箭头向下*/
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
}
.icon-arrowleft.black,
.icon-arrowright.black,
.icon-arrowtop.black
,.icon-arrowbottom.black{
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}
.icon-arrowleft.white,
.icon-arrowright.white,
.icon-arrowtop.white,
.icon-arrowbottom.white{
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

/*实心三角*/
.icon-triangedown{/*向下*/
    display: block;
    width: 0px;
    height: 0px;
    border: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000;
    position: absolute;
    transition: all linear .2s;
}
.icon-triangeup{/*向上*/
    display: block;
    width: 0px;
    height: 0px;
    border: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #000;
    position: absolute;
    transition: all linear .2s;
}
.triange-bg{
    font-family:PingFangSC-Regular;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;
}



/*头部*/
header{
    width: 100%;
    height: 56px;
    padding: 0 15px;
    background: #222;
    color: #fff;
    font-size: 16px;
}
header a{color: #fff;}
header a:hover,header a:active,header a:focus{
    color: #fff;
}
header .left,
header .right{
    width: 22%;
}
header .left{text-align: left}
header .right{text-align: right}
header .center{
    width: 56%;
    height: 100%;
    text-align: center;
    font-size: 1.07rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header .left.p20{width: 20%;}
header .center.p78{width: 78%;}
header .center p{
    height: 100%;
}
header .center h1{
    height: 100%;
}
header .back{
    display: block;
    height: 30px;
    line-height: 30px;
    margin-top: 13px;
}
header i.icons{
    width: 9px;
    height: 9px;
}
header .in{
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin-top: 13px;
}
header .numb{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background: #f7c73f;
    font-size: 16px;
    color: #000;
    text-align: center;
    line-height: 18px;
    margin-top: 13px;
}
header.fixed{
    z-index: 100;
    transition: all .4s ease;
    webkit-transition: all .4s ease;
    max-width:768px;
}
header.fixed .left,
header.fixed  .right{
    width: 20%;
}
header.fixed .center{
    width: 60%;
}
header .center .search-input-wrap{
    height: 36px;
    margin-top: 10px;
    border:none;
}
header .center .search-input-wrap:before{
    width: 16%;
}
header .center .search-input-wrap.lg:before{
    width: 12%;
}
header .search-input-wrap input{
    width: 84%;
}
header.fixed{
    position: fixed;
    top:-120px;
}

/*标题*/
.list-title{
    width: 100%;
    padding: 0 15px;
    margin: 20px 0 10px;
    height: 1.2rem;
    line-height: 1.2rem;
}
.list-title h2{
    font-size: 1.07rem;
}
.list-title .more{
    font-size: 0.93rem;
    padding-right: 15px;
    position: relative;
}
.list-title .more .icon{
    border-color: #000;
    position: absolute;
    right: 0;
    top: 0.3rem;
    width: 9px;
    height: 9px;
}


/*改变weiui样式*/
body .toolbar .picker-button{
    color: #222;
}
body .weui_cells_radio .weui_check:checked+.weui_icon_checked:before{
    color: #f7c73f;
}
body .weui_dialog{
    border-radius: 0;
    width: 92%;
}
body .weui_dialog,body .weui_toast{
    left: 4%;
}
body .weui_dialog_title{
    font-size: 1.06rem;
    font-family:PingFangSC-Medium;
}
body .weui_dialog_hd{padding-top: 1.5rem;}
body .weui_dialog_bd{
    color: #000;
    font-size: 0.9rem;
}
body .weui_dialog_bd{
    padding: 0 15px;
}
body .weui_dialog_ft{
    background:#f7c73f;
    height: auto;
    line-height: 1;
    padding: 15px 0;
    margin-top: 1.5rem;
}
body .weui_dialog_ft a{
    color: #000 !important;
    font-size: 1.06rem;
}
body .weui_dialog_ft:after{
    border: none;
}





@media screen and (min-width: 320px) and (max-width: 360px){
    html {font-size: 16px;}
    header{font-size: 14px;}
}

@media screen and (min-width: 360px) {
    html {font-size: 18px;}
}

@media screen and (min-width: 400px) {
    html {font-size: 20px;}
}

@media screen and (min-width: 440px) {
    html {font-size: 22px;}
}

@media screen and (min-width: 480px) {
    html {font-size: 24px;}
}

@media screen and (min-width: 640px) {
    html {font-size: 30px;}
}

