
/***列表样式***/
.space-list .img{
    display: block;
    width: 100%;
    position: relative;
}
.space-list img{
    width: 100%;
    display: block;
}
.space-list .price{
    padding: 5px 15px 8px 10px;
    background:rgba(34,34,34,0.9);
    position: absolute;
    left: 0;
    bottom: 20px;
    color: #fff;
    font-family:PingFangSC-Semibold;
    font-size: 1.07rem;
}
.space-list .price span{
    font-size:0.8rem;
    margin-left: 3px;
}
.space-list .text{
    padding: 10px 15px 15px;
}
.space-list .text h3{
    font-size: 0.93rem;
    line-height: 1.35em;
    margin-bottom: 5px;
    max-height: 2.4rem;
    overflow: hidden;

    display: -webkit-box;  /*将对象作为弹性盒子模型显示*/
    text-overflow:ellipsis;
    word-break:break-all;
    -webkit-box-orient:vertical;/*伸缩盒对象的子元素的排列方式-垂直*/
    -webkit-line-clamp:2; /*限制在一个块级元素显示的文本的行数*/
}
.space-list .text p{
    font-size: 0.8rem;
    color: #666;
    margin-right: 10px;
    line-height: 1.25em;
    margin-top: 3px;
}
.space-list .text .btn-join{
    width: 100px;
    height: 40px;
    border: 1px solid #222;
    text-align: center;
    line-height: 40px;
    margin-top: 15px;
    font-size: 0.93rem;
}
.space-list .text .fl{
    width: 65%;
}
